In [7]:
import streamlit as st
import numpy as np
import pandas as pd

In [9]:
df3=pd.DataFrame(
    np.random.rand(100,2)/[50, 50]+[35.69, 139.70],
    columns=['lat', 'lon']
)
df3

          lat         lon
0   35.698586  139.714164
1   35.692195  139.710486
2   35.691005  139.717119
3   35.699258  139.708034
4   35.708642  139.708004
..        ...         ...
95  35.705915  139.709153
96  35.701306  139.702791
97  35.705555  139.701911
98  35.690811  139.716985
99  35.696049  139.707933

[100 rows x 2 columns]