In [7]:
import streamlit as st
import numpy as np
import pandas as pd

In [8]:
df3=pd.DataFrame(
    np.random.rand(100,2)/[50, 50]+[35.69, 139.70],
    columns=['lat', 'lon']
)
df3

            lat         lon
0   3569.019294  139.718164
1   3569.015418  139.709008
2   3569.013775  139.718440
3   3569.018260  139.707265
4   3569.005940  139.715507
..          ...         ...
95  3569.013073  139.715420
96  3569.001158  139.709662
97  3569.005162  139.711292
98  3569.013062  139.702826
99  3569.010290  139.707875

[100 rows x 2 columns]