In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.61-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.2.6)
Requirement already satisfied: requests>=2.31 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2025.2)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-py313-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.18.1.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     --- ------------------------------------ 0.3/3.0 MB ? eta -:--:--
     ------------- -------------------------- 1.0/3.0 MB 3.8 MB/s eta 0:00:01
     --------------------------- ------------ 2.1/3.0 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 4.2 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (4.13.4)
Collecting curl_cffi>=0.7 (from yfinance)
  Downloading curl_cffi-0.11.1-cp39-abi3-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (6.31.1)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.13.2)
Requirement already satisfied: cffi>=1.12.0 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: pycparser in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\449793760\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->yfinance) (2.4.0)
Downloading yfinance-0.2.61-py2.py3-none-any.whl (117 kB)
Downloading curl_cffi-0.11.1-cp39-abi3-win_amd64.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ---------------------- ----------------- 0.8/1.4 MB 1.8 MB/s eta 0:00:01
   ----------------------------- ---------- 1.0/1.4 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 1.8 MB/s eta 0:00:00
Downloading frozendict-2.4.6-py313-none-any.whl (16 kB)
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl (176 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.18.1-py3-none-any.whl size=139097 sha256=2f7e9bac8bb5b1a32284ee4468b3f5f2cdf6416f82f157141942a90628847a5e
  Stored in directory: c:\users\449793760\appdata\local\pip\cache\wheels\91\08\75\7ec051c4c2b139cc4aa3a4ae6059d80900c301473b215aad59
Successfully built peewee
Installing collected packages: peewee, multitasking, websockets, frozendict, curl_cffi, yfinance

   ---------------------------------------- 0/6 [peewee]
   ---------------------------------------- 0/6 [peewee]
   ---------------------------------------- 0/6 [peewee]
   ------ --------------------------------- 1/6 [multitasking]
   ------------- -------------------------- 2/6 [websockets]
   ------------- -------------------------- 2/6 [websockets]
   ------------- -------------------------- 2/6 [websockets]
   ------------- -------------------------- 2/6 [websockets]
   ------------- -------------------------- 2/6 [websockets]
   ------------- -------------------------- 2/6 [websockets]
   ------------- -------------------------- 2/6 [websockets]
   ------------- -------------------------- 2/6 [websockets]
   ------------- -------------------------- 2/6 [websockets]
   -------------------- ------------------- 3/6 [frozendict]
   -------------------------- ------------- 4/6 [curl_cffi]
   -------------------------- ------------- 4/6 [curl_cffi]
   -------------------------- ------------- 4/6 [curl_cffi]
   --------------------------------- ------ 5/6 [yfinance]
   --------------------------------- ------ 5/6 [yfinance]
   --------------------------------- ------ 5/6 [yfinance]
   --------------------------------- ------ 5/6 [yfinance]
   --------------------------------- ------ 5/6 [yfinance]
   --------------------------------- ------ 5/6 [yfinance]
   --------------------------------- ------ 5/6 [yfinance]
   --------------------------------- ------ 5/6 [yfinance]
   ---------------------------------------- 6/6 [yfinance]

Successfully installed curl_cffi-0.11.1 frozendict-2.4.6 multitasking-0.0.11 peewee-3.18.1 websockets-15.0.1 yfinance-0.2.61

In [50]:
import pandas as pd
import matplotlib.pyplot as pt
import yfinance as yf

%matplotlib inline

In [51]:
appl = yf.Ticker('AAPL')

In [52]:
days=20
hist=appl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-05-02 00:00:00-04:00,205.820091,206.718922,201.895245,205.081070,101010600,0.00,0.0
2025-05-05 00:00:00-04:00,202.834025,203.832716,197.950430,198.629532,69018500,0.00,0.0
2025-05-06 00:00:00-04:00,197.950420,200.387212,196.761976,198.250015,51216500,0.00,0.0
2025-05-07 00:00:00-04:00,198.909155,199.178806,192.996910,195.992981,68536700,0.00,0.0
2025-05-08 00:00:00-04:00,197.461064,199.788014,194.425036,197.231369,50478900,0.00,0.0
2025-05-09 00:00:00-04:00,198.739390,200.277366,197.281295,198.270004,36453900,0.00,0.0
2025-05-12 00:00:00-04:00,210.970001,211.270004,206.750000,210.789993,63775800,0.26,0.0
2025-05-13 00:00:00-04:00,210.429993,213.399994,209.000000,212.929993,51909300,0.00,0.0
2025-05-14 00:00:00-04:00,212.429993,213.940002,210.580002,212.330002,49325800,0.00,0.0
2025-05-15 00:00:00-04:00,210.949997,212.960007,209.539993,211.449997,45029500,0.00,0.0
2025-05-16 00:00:00-04:00,212.360001,212.570007,209.770004,211.259995,54737900,0.00,0.0
2025-05-19 00:00:00-04:00,207.910004,209.479996,204.259995,208.779999,46140500,0.00,0.0
2025-05-20 00:00:00-04:00,207.669998,208.470001,205.029999,206.860001,42496600,0.00,0.0
2025-05-21 00:00:00-04:00,205.169998,207.039993,200.710007,202.089996,59211800,0.00,0.0
2025-05-22 00:00:00-04:00,200.710007,202.750000,199.699997,201.360001,46742400,0.00,0.0
2025-05-23 00:00:00-04:00,193.669998,197.699997,193.460007,195.270004,78432900,0.00,0.0
2025-05-27 00:00:00-04:00,198.300003,200.740005,197.429993,200.210007,56288500,0.00,0.0
2025-05-28 00:00:00-04:00,200.589996,202.729996,199.899994,200.419998,45339700,0.00,0.0
2025-05-29 00:00:00-04:00,203.580002,203.809998,198.509995,199.949997,51396800,0.00,0.0
2025-05-30 00:00:00-04:00,199.369995,201.960007,196.779999,200.850006,70753100,0.00,0.0

In [53]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [54]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2025-05-02 00:00:00-04:00,205.820091,206.718922,201.895245,205.081070,101010600,0.00,0.0
1,2025-05-05 00:00:00-04:00,202.834025,203.832716,197.950430,198.629532,69018500,0.00,0.0
2,2025-05-06 00:00:00-04:00,197.950420,200.387212,196.761976,198.250015,51216500,0.00,0.0
3,2025-05-07 00:00:00-04:00,198.909155,199.178806,192.996910,195.992981,68536700,0.00,0.0
4,2025-05-08 00:00:00-04:00,197.461064,199.788014,194.425036,197.231369,50478900,0.00,0.0
5,2025-05-09 00:00:00-04:00,198.739390,200.277366,197.281295,198.270004,36453900,0.00,0.0
6,2025-05-12 00:00:00-04:00,210.970001,211.270004,206.750000,210.789993,63775800,0.26,0.0
7,2025-05-13 00:00:00-04:00,210.429993,213.399994,209.000000,212.929993,51909300,0.00,0.0
8,2025-05-14 00:00:00-04:00,212.429993,213.940002,210.580002,212.330002,49325800,0.00,0.0
9,2025-05-15 00:00:00-04:00,210.949997,212.960007,209.539993,211.449997,45029500,0.00,0.0
10,2025-05-16 00:00:00-04:00,212.360001,212.570007,209.770004,211.259995,54737900,0.00,0.0
11,2025-05-19 00:00:00-04:00,207.910004,209.479996,204.259995,208.779999,46140500,0.00,0.0
12,2025-05-20 00:00:00-04:00,207.669998,208.470001,205.029999,206.860001,42496600,0.00,0.0
13,2025-05-21 00:00:00-04:00,205.169998,207.039993,200.710007,202.089996,59211800,0.00,0.0
14,2025-05-22 00:00:00-04:00,200.710007,202.750000,199.699997,201.360001,46742400,0.00,0.0
15,2025-05-23 00:00:00-04:00,193.669998,197.699997,193.460007,195.270004,78432900,0.00,0.0
16,2025-05-27 00:00:00-04:00,198.300003,200.740005,197.429993,200.210007,56288500,0.00,0.0
17,2025-05-28 00:00:00-04:00,200.589996,202.729996,199.899994,200.419998,45339700,0.00,0.0
18,2025-05-29 00:00:00-04:00,203.580002,203.809998,198.509995,199.949997,51396800,0.00,0.0
19,2025-05-30 00:00:00-04:00,199.369995,201.960007,196.779999,200.850006,70753100,0.00,0.0

In [55]:
hist_msft=yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-05-02 00:00:00-04:00,430.948839,438.634741,429.202046,434.482361,30757400,0.0,0.0
2025-05-05 00:00:00-04:00,432.076757,438.694612,431.318140,435.370728,20136100,0.0,0.0
2025-05-06 00:00:00-04:00,431.408009,436.927874,430.379898,432.515961,15104200,0.0,0.0
2025-05-07 00:00:00-04:00,433.045001,437.317156,430.319992,432.555908,23295300,0.0,0.0
2025-05-08 00:00:00-04:00,437.127485,442.856987,434.861655,437.367065,23491300,0.0,0.0

In [56]:
pd.concat([hist,hist_msft], axis=1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2025-05-02 00:00:00-04:00,205.820091,206.718922,201.895245,205.081070,101010600,0.0,0.0,430.948839,438.634741,429.202046,434.482361,30757400,0.0,0.0
2025-05-05 00:00:00-04:00,202.834025,203.832716,197.950430,198.629532,69018500,0.0,0.0,432.076757,438.694612,431.318140,435.370728,20136100,0.0,0.0
2025-05-06 00:00:00-04:00,197.950420,200.387212,196.761976,198.250015,51216500,0.0,0.0,431.408009,436.927874,430.379898,432.515961,15104200,0.0,0.0
2025-05-07 00:00:00-04:00,198.909155,199.178806,192.996910,195.992981,68536700,0.0,0.0,433.045001,437.317156,430.319992,432.555908,23295300,0.0,0.0
2025-05-08 00:00:00-04:00,197.461064,199.788014,194.425036,197.231369,50478900,0.0,0.0,437.127485,442.856987,434.861655,437.367065,23491300,0.0,0.0

In [57]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-05-02 00:00:00-04:00,205.820091,206.718922,201.895245,205.081070,101010600,0.0,0.0
2025-05-05 00:00:00-04:00,202.834025,203.832716,197.950430,198.629532,69018500,0.0,0.0
2025-05-06 00:00:00-04:00,197.950420,200.387212,196.761976,198.250015,51216500,0.0,0.0

In [58]:
hist.index

DatetimeIndex(['2025-05-02 00:00:00-04:00', '2025-05-05 00:00:00-04:00',
               '2025-05-06 00:00:00-04:00', '2025-05-07 00:00:00-04:00',
               '2025-05-08 00:00:00-04:00', '2025-05-09 00:00:00-04:00',
               '2025-05-12 00:00:00-04:00', '2025-05-13 00:00:00-04:00',
               '2025-05-14 00:00:00-04:00', '2025-05-15 00:00:00-04:00',
               '2025-05-16 00:00:00-04:00', '2025-05-19 00:00:00-04:00',
               '2025-05-20 00:00:00-04:00', '2025-05-21 00:00:00-04:00',
               '2025-05-22 00:00:00-04:00', '2025-05-23 00:00:00-04:00',
               '2025-05-27 00:00:00-04:00', '2025-05-28 00:00:00-04:00',
               '2025-05-29 00:00:00-04:00', '2025-05-30 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', freq=None)

In [59]:
hist.index = hist.index.strftime('%d %B %Y')

In [60]:
hist=hist[['Close']]

In [61]:
hist.columns=['apple']
hist.head()

                  apple
Date
02 May 2025  205.081070
05 May 2025  198.629532
06 May 2025  198.250015
07 May 2025  195.992981
08 May 2025  197.231369

In [65]:
hist=hist.T
hist

Date,02 May 2025,05 May 2025,06 May 2025,07 May 2025,08 May 2025,09 May 2025,12 May 2025,13 May 2025,14 May 2025,15 May 2025,16 May 2025,19 May 2025,20 May 2025,21 May 2025,22 May 2025,23 May 2025,27 May 2025,28 May 2025,29 May 2025,30 May 2025
apple,205.08107,198.629532,198.250015,195.992981,197.231369,198.270004,210.789993,212.929993,212.330002,211.449997,211.259995,208.779999,206.860001,202.089996,201.360001,195.270004,200.210007,200.419998,199.949997,200.850006

In [66]:
hist.index.name='Name'
hist

Date,02 May 2025,05 May 2025,06 May 2025,07 May 2025,08 May 2025,09 May 2025,12 May 2025,13 May 2025,14 May 2025,15 May 2025,16 May 2025,19 May 2025,20 May 2025,21 May 2025,22 May 2025,23 May 2025,27 May 2025,28 May 2025,29 May 2025,30 May 2025
Name,,,,,,,,,,,,,,,,,,,,
apple,205.08107,198.629532,198.250015,195.992981,197.231369,198.270004,210.789993,212.929993,212.330002,211.449997,211.259995,208.779999,206.860001,202.089996,201.360001,195.270004,200.210007,200.419998,199.949997,200.850006